<?xml version="1.0"?>
<!--
  /**
	* MageSpeedTest.com Magento integration
	*
	* @package    Magespeedtest_Speedtest
	* @author     Ashley Schroder (magespeedtest.com)
	* @copyright  Copyright 2012 Ashley Schroder
	*/
-->
<config>
	<sections>
		<admin>
			<groups>
			<magespeedtest translate="label" module="magespeedtest">
					<label>MageSpeedTest.com Speed Testing</label>
					<comment>
					&lt;div style='background-repeat: repeat-x; background-image: linear-gradient(top, #333333, #222222); background-image: -o-linear-gradient(top, #333333, #222222); background-image: -webkit-linear-gradient(top, #333333, #222222); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222)); background-image: -ms-linear-gradient(top, #333333, #222222); background-image: -moz-linear-gradient(center top , #333333, #222222); background-color: #222222;'&gt; &lt;a href='http://www.magespeedtest.com'&gt;&lt;img src='http://www.magespeedtest.com/images/extension-banner.png' /&gt;&lt;/a&gt; &lt;/div&gt;
					&lt;div&gt; &lt;br/&gt; &lt;p&gt; &lt;a href='http://www.magespeedtest.com&amp;ref=ext'&gt;Magento Speed Test&lt;/a&gt; is a free Magento speed testing service that runs a simulated multi-customer tests on your store and reports on performance. Detect and address performance issues before they affect your customers. For more advanced testing and monitoring &lt;a href='http://www.magespeedtest.com/subscribe&amp;ref=ext'&gt;read more&lt;/a&gt; about our premium service for $9/month.&lt;/p&gt; 
					&lt;/div&gt;
					&lt;div&gt; 
					&lt;p class="sitemapWarning"&gt; &lt;strong&gt; Note:&lt;/strong&gt;  To get started with testing you first need to &lt;a href='http://www.aschroder.com/2010/12/making-a-site-map-for-magento/'&gt;create a sitemap.xml&lt;/a&gt; for your store. You should have one &lt;a href='http://en.wikipedia.org/wiki/Google_Sitemaps'&gt;for the benefit of search engines&lt;/a&gt;, if not now's a great time to make one - it'll only take a second. &lt;/p&gt;  
					&lt;/div&gt;
					</comment>
					<frontend_type>text</frontend_type>
					<sort_order>999</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>0</show_in_store>
						<fields>
							<test translate="label comment">
	                                <frontend_type>select</frontend_type>
	                                <frontend_model>Magespeedtest_Speedtest_Block_Adminhtml_Test</frontend_model>
	                                <sort_order>20</sort_order>
	                                <show_in_default>1</show_in_default>
	                                <show_in_website>0</show_in_website>
	                                <show_in_store>0</show_in_store>
                             </test>
                             <apiurl translate="label">
								<label>Monitor API URL</label>
								<comment>To enable performance monitoring, copy and paste your API url from the monitor page into this box.</comment>
								<frontend_type>text</frontend_type>
								<sort_order>40</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>0</show_in_website>
								<show_in_store>0</show_in_store>
							</apiurl>
						</fields>
				</magespeedtest>
			</groups>
		</admin>
	</sections>
</config>
